<template>
    <div>
        <div class="form-content">
    <div class="form-items">
        <h3>Register new account</h3>
        <p>Access to the most powerfull tool in the entire design and web industry.</p>
        <form>
            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <div class="form-button">
                <button id="submit" type="submit" class="ibtn">Đăng ký</button>
            </div>
        </form>
        <div class="other-links">
            <div class="text">Or register with</div>
            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
        </div>
        <div class="page-links">
            <!-- <a href="/user-login">Login to account</a> -->
            <router-link to="/login">Quay lại đăng nhập</router-link>
        </div>
    </div>
</div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
