<template>
    <div>
<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Tables</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Data Table</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-light">Settings</button>
							<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<h6 class="mb-0 text-uppercase">Nhân viên</h6>
				<hr/>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th>Họ Tên</th>
										<th>SĐT</th>
										<th>Email</th>
										<th>Địa chỉ</th>
										<th>Chức danh</th>
										<th>Bắt đầu từ</th>
                                        <th>Username</th>
                                        <th colspan="2">Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Đỗ Phúc Lộc</td>
										<td>0949938700</td>
										<td>Email</td>
										<td>Hoàng Ngân</td>
										<td>Nhân viên</td>
										<td>01/01/2022</td>
										<td>phucloc1504</td>
                                        <td >

                                        </td>
                                        <td>
                                            
                                        </td>
									</tr>

								</tbody>

							</table>
						</div>
					</div>
				</div>

			</div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted account.')
        }
    }
</script>
