<template>
<div>
    <div>
        <!-- Logo -->
            <h1 id="lonon-logo">
                <img src="images/profile.jpg" alt=""><br />
                <a href="index.html">Lonon F. Smith<span>Web Designer</span></a>
            </h1>
            <!-- Menu -->
            <nav id="lonon-main-menu">
                <ul>
                    <router-link
                            class="nav-link"
                            :class="[{active: $route.name === '/profile'}]"
                            :to="{name: 'vue-profile'}"
                    >
                        Thông tin
                    </router-link>
                    <router-link
                            class="nav-link"
                            :class="[{active: $route.name === '/daysoff'}]"
                            :to="{name: 'vue-daysoff'}"
                    >
                        Xin nghỉ phép
                    </router-link>
                    <router-link
                            class="nav-link"
                            :class="[{active: $route.name === '/latehours'}]"
                            :to="{name: 'vue-latehours'}"
                    >
                        Xin đến trễ
                    </router-link>
                    <router-link
                            class="nav-link"
                            :class="[{active: $route.name === '/overtime'}]"
                            :to="{name: 'vue-overtime'}"
                    >
                        Đăng ký làm thêm
                    </router-link>
                    <router-link
                            class="nav-link"
                            :class="[{active: $route.name === '/timesheets'}]"
                            :to="{name: 'vue-timesheets'}"
                    >
                        Bảng lương
                    </router-link>

                    <!-- <li class="lonon-active"><a href="/profile">Thông tin</a></li>
                    <li><a href="/timesheets">Bảng lương</a></li>
                    <li><a href="/days-off">Xin nghỉ phép</a></li>
                    <router-link to="/latehours">Xin đến trễ</router-link>
                    <li><a href="/late-hours">Xin đến trễ</a></li>
                    <li><a href="/overtime">Đăng ký làm thêm</a></li>
                    <li><a href="#">Báo cáo</a></li> -->
                    <!-- <router-view></router-view> -->
                </ul>
            </nav>
            <!-- Sidebar Footer -->
            <div class="lonon-footer">
                <ul>
                    <li class="btn"><button>Quên mật khẩu</button></li>
                    <li class="btn"><button>Đăng xuất</button></li>

                </ul>

                <p><small>&copy; 2021 Lonon. by <a href="#">DuruThemes</a></small></p>
            </div>

    </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted header.')
        }
    }
</script>

