<template>
<div>
    <!-- Main Section -->

            <!-- About Us -->
            <div class="lonon-about">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Resume</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Xin đi trễ</h2> </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Thêm mới</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-12 text-left control-label col-form-label">Xin trễ ngày</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="hotline" placeholder="Enter Hotline">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-12 text-left control-label col-form-label">Thời gian trễ</label>
                                        <div class="col-sm-3">
                                            <input type="time" class="form-control" id="province" placeholder="Enter Province">
                                        </div>
                                        <div>
                                            <label for="fname" class="text-left control-label col-form-label">đến </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="time" class="form-control" id="province" placeholder="Enter Province">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-12 text-left control-label col-form-label">Lý do</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="odering" placeholder="Nhập nội dung">
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" onclick="addcategoryschedule()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="divider1"></div>
            <!-- Timeline Experience -->
            <div class="lonon-lonon-timeline">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Resume</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Lịch sử xin đi trễ</h2> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="lonon-timeline">
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2021 - Present</span>
                                        <h5>DRANA SOFTWARE INC.</h5>
                                        <h4>Data Science Developer</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2017 - 2018</span>
                                        <h5>DRANA SOFTWARE INC.</h5>
                                        <h4>Creative Content Developer</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
