<template>
<div>
    <!-- Main Section -->

            <!-- About Us -->
            <div class="lonon-about">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Resume</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">About Me</h2> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7"> <img src="images/resume.jpg" class="img-fluid mb-15 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft" alt=""> </div>
                        <div class="col-md-5 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft"> <span class="heading-meta style-1">Resume</span>
                            <h3 class="lonon-about-heading">I'am Web Designer</h3>
                            <p>Quisque convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut. Mauris tincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada dui euismod, pharetra mi.</p>
                            <p>Drana convallis urna sapien, ut porta tortor maximus ac. Sed auctor, dui sed bib endum feugiat, felis lorem pulvinar mauris.</p>
                            <div class="lonon-about-contact-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><b>Birthday:</b> 15 April 1980</p>
                                        <p><b>Website:</b> www.lonon.com</p>
                                        <p><b>Phone:</b> +1 650-123-0000</p>
                                        <p><b>Skype:</b> lonon</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Degree:</b> Master</p>
                                        <p><b>Mail:</b> dev@lonon.com</p>
                                        <p><b>Freelance:</b> Available</p>
                                        <p><b>Linkedin:</b> lonon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider1"></div>
            <!-- Timeline Experience -->
            <div class="lonon-lonon-timeline">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Resume</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Experience</h2> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="lonon-timeline">
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2021 - Present</span>
                                        <h5>DRANA SOFTWARE INC.</h5>
                                        <h4>Data Science Developer</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2017 - 2018</span>
                                        <h5>DRANA SOFTWARE INC.</h5>
                                        <h4>Creative Content Developer</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider1"></div>
            <!-- Timeline Education -->
            <div class="lonon-lonon-timeline">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Resume</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Education</h2> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="lonon-timeline">
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2014 - 2016</span>
                                        <h5>MASTER, UNIVERSITY</h5>
                                        <h4>Master In Computer Science</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="lonon-timeline-content"><span class="lonon-timeline-date">2010 - 2014</span>
                                        <h5>UNIVERSITY</h5>
                                        <h4>Studied at Harvard University</h4>
                                        <p>Education convallis lacinia est et volutpat. Ut interdum lectus velit, ac venenatis odio fringilla ut.
                                            <br /> Mauristincidunt diam a nisi mollis rhoncus. Nam non ante consequatir, malesuada euismo drana.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider1"></div>
            <!-- Skills -->
            <div class="lonon-skills">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Abilities</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">My Skills</h2> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
                            <p>Skills convallis lacinia est et volutpat. Ut interdum lecis velit, ac venenatis odio fringilla ut. Mauris tincidunt diame nisi mollis rhoncus. Nam non ante consequatir, malesuada dui euismod, pharetra mi.</p>
                            <p>Sed auctor, dui sed bibendum feugiat, felis lorem pulvinar mauris vel porttitor risu nunc et risus. Aenean vehicula dictum magna non venenatis.</p>
                        </div>
                        <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                            <p class="bar-title">JavaScript<span class="percent align-right">90%</span></p>
                            <div class="bar">
                                <div class="bar-fill bar-fill-developer start"></div>
                            </div>
                            <p class="bar-title">PHP<span class="percent align-right">80%</span></p>
                            <div class="bar">
                                <div class="bar-fill bar-fill-photoshop start"></div>
                            </div>
                            <p class="bar-title">HTML / CSS<span class="percent align-right">95%</span></p>
                            <div class="bar">
                                <div class="bar-fill bar-fill-webdesign start"></div>
                            </div>
                            <p class="bar-title">jQuery<span class="percent align-right">85%</span></p>
                            <div class="bar">
                                <div class="bar-fill bar-fill-socialmedia start"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

