<template>
  <div>
    <!-- Main Section -->

    <!-- About Us -->
    <div class="lonon-about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <span class="heading-meta style-1">Resume</span>
            <h2
              class="lonon-heading animate-box"
              data-animate-effect="fadeInLeft"
            >
              Bảng Lương
            </h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="card-body">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Các khoản</th>
                    <th scope="col"></th>
                    <th scope="col">Tổng tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Lương cơ bản</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">Số buổi nghỉ phép</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">Số giờ đi trễ</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">Số giờ làm thêm</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">Tiền bảo hiểm</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="2">Lương thực lĩnh</th>
                    <td>Thornton</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider1"></div>
    <!-- Timeline Experience -->
    <div class="lonon-lonon-timeline">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <span class="heading-meta style-1">Resume</span>
            <h2
              class="lonon-heading animate-box"
              data-animate-effect="fadeInLeft"
            >
              Lịch sử chỉnh sửa
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
            <ul class="lonon-timeline">
              <li>
                <div class="lonon-timeline-content">
                  <span class="lonon-timeline-date">2021 - Present</span>
                  <h5>DRANA SOFTWARE INC.</h5>
                  <h4>Data Science Developer</h4>
                  <p>
                    Education convallis lacinia est et volutpat. Ut interdum
                    lectus velit, ac venenatis odio fringilla ut. <br />
                    Mauristincidunt diam a nisi mollis rhoncus. Nam non ante
                    consequatir, malesuada euismo drana.
                  </p>
                </div>
              </li>
              <li>
                <div class="lonon-timeline-content">
                  <span class="lonon-timeline-date">2017 - 2018</span>
                  <h5>DRANA SOFTWARE INC.</h5>
                  <h4>Creative Content Developer</h4>
                  <p>
                    Education convallis lacinia est et volutpat. Ut interdum
                    lectus velit, ac venenatis odio fringilla ut. <br />
                    Mauristincidunt diam a nisi mollis rhoncus. Nam non ante
                    consequatir, malesuada euismo drana.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");

  },
  data() {
      return{
          isShow: true,
          table1: true
      }

  }
};
</script>
<style scoped>
.tbSalary{
    background: #101010;
    color: white;
}
</style>
